/**
 * WEBSITE: https://themefisher.com
 * TWITTER: https://twitter.com/themefisher
 * FACEBOOK: https://facebook.com/themefisher
 * GITHUB: https://github.com/themefisher/
 */

.btn {

    display: inline-block;

    border-width: 1px;

    border-color: transparent;

    padding-left: 3.5rem;

    padding-right: 3.5rem;

    padding-top: 15px;

    padding-bottom: 15px;

    text-align: center;

    font-size: 1.125rem;

    line-height: 1.75rem;

    font-weight: 600;

    text-transform: capitalize;

    transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, -webkit-backdrop-filter;

    transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter;

    transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter, -webkit-backdrop-filter;

    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    transition-duration: 150ms
}

.btn-primary {

    border-radius: 0.5rem;

    --tw-border-opacity: 1;

    border-color: rgb(41 153 255 / var(--tw-border-opacity));

    --tw-bg-opacity: 1;

    background-color: rgb(41 153 255 / var(--tw-bg-opacity));

    --tw-text-opacity: 1;

    color: rgb(255 255 255 / var(--tw-text-opacity))
}

.btn-outline-dark {

    border-radius: 0.5rem;

    --tw-border-opacity: 1;

    border-color: rgb(43 46 50 / var(--tw-border-opacity));

    background-color: transparent;

    --tw-text-opacity: 1;

    color: rgb(43 46 50 / var(--tw-text-opacity))
}

.btn-outline-dark:hover {

    --tw-border-opacity: 1;

    border-color: rgb(41 153 255 / var(--tw-border-opacity));

    --tw-bg-opacity: 1;

    background-color: rgb(41 153 255 / var(--tw-bg-opacity));

    --tw-text-opacity: 1;

    color: rgb(255 255 255 / var(--tw-text-opacity))
}

.btn-outline-primary {

    border-radius: 0.5rem;

    --tw-border-opacity: 1;

    border-color: rgb(41 153 255 / var(--tw-border-opacity));

    background-color: transparent;

    --tw-text-opacity: 1;

    color: rgb(41 153 255 / var(--tw-text-opacity))
}

.btn-outline-primary:hover {

    --tw-border-opacity: 1;

    border-color: rgb(41 153 255 / var(--tw-border-opacity));

    --tw-bg-opacity: 1;

    background-color: rgb(41 153 255 / var(--tw-bg-opacity));

    --tw-text-opacity: 1;

    color: rgb(255 255 255 / var(--tw-text-opacity))
}

.btn-sm {

    height: 46px;

    padding-top: 0.5rem;

    padding-bottom: 0.5rem;

    padding-left: 1.5rem;

    padding-right: 1.5rem;

    font-size: 16px
}