/**
 * WEBSITE: https://themefisher.com
 * TWITTER: https://twitter.com/themefisher
 * FACEBOOK: https://facebook.com/themefisher
 * GITHUB: https://github.com/themefisher/
 */

b,
strong {
  font-weight: 600;
}

code::after {
  content: var(--tw-content);
  border-style: none;
}

.shadow-sm {
  box-shadow: 0px 5px 30px 10px rgba(0, 0, 0, 0.02);
}

.shadow {
  box-shadow: 0px 10px 30px 5px rgba(0, 0, 0, 0.03);
}

.shadow-lg {
  box-shadow: 0px 5px 35px 20px rgba(0, 0, 0, 0.03);
}