<section>
    <div class="container">
        <div class="row mb-10">
            <div class="col-12">
                <!--modal open button -->
                <!-- <button id="modal-open-button" class="rounded bg-primary py-2 px-4 font-bold text-white hover:bg-primary/80">
                    Open Modal
                </button> -->
                <!-- modal container -->
                <div id="modal-container" class="fixed inset-0 z-50 hidden h-screen w-screen bg-theme-dark bg-opacity-75"></div>
                <!-- modal -->
                <div id="modal" class="fixed top-1/2 left-1/2 z-50 hidden -translate-x-1/2 -translate-y-1/2 transform rounded p-6 shadow-lg bg-transparent w-full max-w-[650px]">
                  <div class="rounded-xl overflow-hidden">
                    <iframe class="w-full" width="650" height="450" src="https://www.youtube.com/embed/ResipmZmpDU" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                  </div>
                    <button id="modal-close-button" class="border absolute -top-1.5 -right-1.5 text-primary w-8 h-8 rounded-full border-primary inline-flex items-center justify-center text-xl">
                        <i class="fa fa-times"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
</section>