<section class="cta section-bordered">
    <div class="container">
        <div class="row mx-0 relative justify-center">
            <div class="col-12">
                <img class="absolute -z-[1] top-0 left-0 w-full h-full" src="images/cta-bg.png" alt="">
            </div>
            <div class="lg:col-10 text-center">
                <div class="shadow rounded-xl bg-white/40 py-20 border border-border">
                    <div class="md:max-w-[588px] mx-auto">
                        <h2 class="mb-6 highlighted">Do you want to be a part <br>
                            of our <span>team</span>?</h2>
                        <p class="mb-6">All our premium themes are designed elegantly with blazing speed
                            themes even score above% in Google page speed.</p>
                        <a href="#" class="btn btn-primary">Start journey</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>