
<!-- Faqs -->
<section class="section-bordered faqs">
    <div class="container">
        <div class="row justify-center">
            <div class="col-12 lg:col-6 text-center">
                <h2 class="section-title">Popular questions <br>
                    <span>answered</span>
                </h2>
            </div>
            <div class="lg:col-11 xl:col-10">
                <div class="grid md:grid-cols-2 gap">
                    <div class="faqs-col">
                        <div class="accordion">
                            <div class="accordion-header" data-accordion>
                                Hyper-personalize, engage, and convert candidates
                                <svg class="accordion-icon" x="0px" y="0px" viewBox="0 0 512 512" xmlspace="preserve">
                                    <path fill="currentColor" d="M505.755,123.592c-8.341-8.341-21.824-8.341-30.165,0L256.005,343.176L36.421,123.592c-8.341-8.341-21.824-8.341-30.165,0 s-8.341,21.824,0,30.165l234.667,234.667c4.16,4.16,9.621,6.251,15.083,6.251c5.462,0,10.923-2.091,15.083-6.251l234.667-234.667 C514.096,145.416,514.096,131.933,505.755,123.592z"></path>
                                </svg>
                            </div>
                            <div class="accordion-content">
                                <p>
                                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi
                                    quaerat veritatis necessitatibus nemo ullam dolores aut veniam
                                    officiis asperiores, unde quo magni repudiandae impedit iusto
                                    voluptatum eos, aliquam, consectetur aliquid.
                                </p>
                            </div>
                        </div>
                        <div class="accordion">
                            <div class="accordion-header" data-accordion>
                                Develop and retain your employees with intelligence
                                <svg class="accordion-icon" x="0px" y="0px" viewBox="0 0 512 512" xmlspace="preserve">
                                    <path fill="currentColor" d="M505.755,123.592c-8.341-8.341-21.824-8.341-30.165,0L256.005,343.176L36.421,123.592c-8.341-8.341-21.824-8.341-30.165,0 s-8.341,21.824,0,30.165l234.667,234.667c4.16,4.16,9.621,6.251,15.083,6.251c5.462,0,10.923-2.091,15.083-6.251l234.667-234.667 C514.096,145.416,514.096,131.933,505.755,123.592z"></path>
                                </svg>
                            </div>
                            <div class="accordion-content">
                                <p>
                                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi
                                    quaerat veritatis necessitatibus nemo ullam dolores aut veniam
                                    officiis asperiores, unde quo magni repudiandae impedit iusto
                                    voluptatum eos, aliquam, consectetur aliquid.
                                </p>
                            </div>
                        </div>
                        <div class="accordion">
                            <div class="accordion-header" data-accordion>
                                Improve recruiter productivity through automation
                                <svg class="accordion-icon" x="0px" y="0px" viewBox="0 0 512 512" xmlspace="preserve">
                                    <path fill="currentColor" d="M505.755,123.592c-8.341-8.341-21.824-8.341-30.165,0L256.005,343.176L36.421,123.592c-8.341-8.341-21.824-8.341-30.165,0 s-8.341,21.824,0,30.165l234.667,234.667c4.16,4.16,9.621,6.251,15.083,6.251c5.462,0,10.923-2.091,15.083-6.251l234.667-234.667 C514.096,145.416,514.096,131.933,505.755,123.592z"></path>
                                </svg>
                            </div>
                            <div class="accordion-content">
                                <p>
                                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi
                                    quaerat veritatis necessitatibus nemo ullam dolores aut veniam
                                    officiis asperiores, unde quo magni repudiandae impedit iusto
                                    voluptatum eos, aliquam, consectetur aliquid.
                                </p>
                            </div>
                        </div>
                        <div class="accordion">
                            <div class="accordion-header" data-accordion>
                                Hire more talent, faster with Al
                                <svg class="accordion-icon" x="0px" y="0px" viewBox="0 0 512 512" xmlspace="preserve">
                                    <path fill="currentColor" d="M505.755,123.592c-8.341-8.341-21.824-8.341-30.165,0L256.005,343.176L36.421,123.592c-8.341-8.341-21.824-8.341-30.165,0 s-8.341,21.824,0,30.165l234.667,234.667c4.16,4.16,9.621,6.251,15.083,6.251c5.462,0,10.923-2.091,15.083-6.251l234.667-234.667 C514.096,145.416,514.096,131.933,505.755,123.592z"></path>
                                </svg>
                            </div>
                            <div class="accordion-content">
                                <p>
                                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi
                                    quaerat veritatis necessitatibus nemo ullam dolores aut veniam
                                    officiis asperiores, unde quo magni repudiandae impedit iusto
                                    voluptatum eos, aliquam, consectetur aliquid.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="faqs-col">
                        <div class="accordion">
                            <div class="accordion-header" data-accordion>
                                How Can I Manage Transactions?
                                <svg class="accordion-icon" x="0px" y="0px" viewBox="0 0 512 512" xmlspace="preserve">
                                    <path fill="currentColor" d="M505.755,123.592c-8.341-8.341-21.824-8.341-30.165,0L256.005,343.176L36.421,123.592c-8.341-8.341-21.824-8.341-30.165,0 s-8.341,21.824,0,30.165l234.667,234.667c4.16,4.16,9.621,6.251,15.083,6.251c5.462,0,10.923-2.091,15.083-6.251l234.667-234.667 C514.096,145.416,514.096,131.933,505.755,123.592z"></path>
                                </svg>
                            </div>
                            <div class="accordion-content">
                                <p>
                                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi
                                    quaerat veritatis necessitatibus nemo ullam dolores aut veniam
                                    officiis asperiores, unde quo magni repudiandae impedit iusto
                                    voluptatum eos, aliquam, consectetur aliquid.
                                </p>
                            </div>
                        </div>
                        <div class="accordion">
                            <div class="accordion-header" data-accordion>
                                How Many Should I Pay?
                                <svg class="accordion-icon" x="0px" y="0px" viewBox="0 0 512 512" xmlspace="preserve">
                                    <path fill="currentColor" d="M505.755,123.592c-8.341-8.341-21.824-8.341-30.165,0L256.005,343.176L36.421,123.592c-8.341-8.341-21.824-8.341-30.165,0 s-8.341,21.824,0,30.165l234.667,234.667c4.16,4.16,9.621,6.251,15.083,6.251c5.462,0,10.923-2.091,15.083-6.251l234.667-234.667 C514.096,145.416,514.096,131.933,505.755,123.592z"></path>
                                </svg>
                            </div>
                            <div class="accordion-content">
                                <p>
                                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi
                                    quaerat veritatis necessitatibus nemo ullam dolores aut veniam
                                    officiis asperiores, unde quo magni repudiandae impedit iusto
                                    voluptatum eos, aliquam, consectetur aliquid.
                                </p>
                            </div>
                        </div>
                        <div class="accordion">
                            <div class="accordion-header" data-accordion>
                                How does app work?
                                <svg class="accordion-icon" x="0px" y="0px" viewBox="0 0 512 512" xmlspace="preserve">
                                    <path fill="currentColor" d="M505.755,123.592c-8.341-8.341-21.824-8.341-30.165,0L256.005,343.176L36.421,123.592c-8.341-8.341-21.824-8.341-30.165,0 s-8.341,21.824,0,30.165l234.667,234.667c4.16,4.16,9.621,6.251,15.083,6.251c5.462,0,10.923-2.091,15.083-6.251l234.667-234.667 C514.096,145.416,514.096,131.933,505.755,123.592z"></path>
                                </svg>
                            </div>
                            <div class="accordion-content">
                                <p>
                                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi
                                    quaerat veritatis necessitatibus nemo ullam dolores aut veniam
                                    officiis asperiores, unde quo magni repudiandae impedit iusto
                                    voluptatum eos, aliquam, consectetur aliquid.
                                </p>
                            </div>
                        </div>
                        <div class="accordion">
                            <div class="accordion-header" data-accordion>
                                How can I manage income?
                                <svg class="accordion-icon" x="0px" y="0px" viewBox="0 0 512 512" xmlspace="preserve">
                                    <path fill="currentColor" d="M505.755,123.592c-8.341-8.341-21.824-8.341-30.165,0L256.005,343.176L36.421,123.592c-8.341-8.341-21.824-8.341-30.165,0 s-8.341,21.824,0,30.165l234.667,234.667c4.16,4.16,9.621,6.251,15.083,6.251c5.462,0,10.923-2.091,15.083-6.251l234.667-234.667 C514.096,145.416,514.096,131.933,505.755,123.592z"></path>
                                </svg>
                            </div>
                            <div class="accordion-content">
                                <p>
                                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi
                                    quaerat veritatis necessitatibus nemo ullam dolores aut veniam
                                    officiis asperiores, unde quo magni repudiandae impedit iusto
                                    voluptatum eos, aliquam, consectetur aliquid.
                                </p>
                            </div>
                        </div>
                        <div class="accordion">
                            <div class="accordion-header" data-accordion>
                                How to invest using this app?
                                <svg class="accordion-icon" x="0px" y="0px" viewBox="0 0 512 512" xmlspace="preserve">
                                    <path fill="currentColor" d="M505.755,123.592c-8.341-8.341-21.824-8.341-30.165,0L256.005,343.176L36.421,123.592c-8.341-8.341-21.824-8.341-30.165,0 s-8.341,21.824,0,30.165l234.667,234.667c4.16,4.16,9.621,6.251,15.083,6.251c5.462,0,10.923-2.091,15.083-6.251l234.667-234.667 C514.096,145.416,514.096,131.933,505.755,123.592z"></path>
                                </svg>
                            </div>
                            <div class="accordion-content">
                                <p>
                                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi
                                    quaerat veritatis necessitatibus nemo ullam dolores aut veniam
                                    officiis asperiores, unde quo magni repudiandae impedit iusto
                                    voluptatum eos, aliquam, consectetur aliquid.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- end faqs -->