<footer class="footer bg-dark">
    <div class="container">
        <div class="row justify-center">
            <div class="lg:col-10 footer-grid pt-[100px] pb-16">
                <div class="footer-col lg:max-w-[270px] mb-10 lg:mb-0">
                    <a href="#" class="mb-4 inline-block">
                        <img src="images/logo.svg" alt="">
                    </a>
                    <p class="mb-10">Lorem ipsum dolor sit sed dmi amet
                        consectetur adipiscing. Cdo tellus
                        sed condimentum volutpat. </p>
                    <span class="inline-block font-semibold text-lg font-primary mb-2">Follow us</span>
                    <ul class="social-icons footer-social-icons">
                        <li>
                            <a href="#">
                                <i class="fa-brands fa-facebook-f"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="fa-brands fa-twitter"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="fa-brands fa-instagram"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="fa-brands fa-linkedin-in"></i>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="footer-col mb-10 lg:mb-0">
                    <h5>Products</h5>
                    <ul class="footer-links">
                        <li>
                            <a class="footer-link" href="#">The Platform</a>
                        </li>
                        <li>
                            <a class="footer-link" href="#">Partner</a>
                        </li>
                        <li>
                            <a class="footer-link" href="#">Information</a>
                        </li>
                        <li>
                            <a class="footer-link" href="#">About</a>
                        </li>
                        <li>
                            <a class="footer-link" href="#">Take the Tour</a>
                        </li>
                    </ul>
                </div>
                <div class="footer-col mb-10 lg:mb-0">
                    <h5>About</h5>
                    <ul class="footer-links">
                        <li>
                            <a class="footer-link" href="#">The Platform</a>
                        </li>
                        <li>
                            <a class="footer-link" href="#">Webinars/Events</a>
                        </li>
                        <li>
                            <a class="footer-link" href="#">Leadership</a>
                        </li>
                        <li>
                            <a class="footer-link" href="#">Privacy</a>
                        </li>
                        <li>
                            <a class="footer-link" href="#">Cookie Preferences</a>
                        </li>
                        <li>
                            <a class="footer-link" href="#">Legal</a>
                        </li>
                    </ul>
                </div>
                <div class="footer-col">
                    <h5>What We Offer</h5>
                    <ul class="footer-links">
                        <li>
                            <a class="footer-link" href="#">Products</a>
                        </li>
                        <li>
                            <a class="footer-link" href="#">Webinars/Events</a>
                        </li>
                        <li>
                            <a class="footer-link" href="#">Support</a>
                        </li>
                        <li>
                            <a class="footer-link" href="#">Migration Services</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="lg:col-10 row py-8 text-center border-[#4B4B4B] border-t">
                <p class="text-sm text-[#ABABAB]">Designed By <a class="underline hover:text-pri
                    " href="https:www.themefisher.com">Themefisher</a>, Developed by <a class="underline hover:text-pri
                    " href="https://gethugothemes.com/">Gethugothemes</a></p>
            </div>
        </div>
    </div>
</footer>


<!-- jQuery -->
<!-- <script src="plugins/jquery/jquery.min.js"></script> -->
<!-- Swiper JS -->
<script src="plugins/swiper/swiper-bundle.js"></script>
<!-- Shuffle JS -->
<script src="plugins/shuffle/shuffle.js"></script>

<!-- Main Script -->
<script src="scripts/main.js"></script>